*.zip

# ERRORES LOG
*log
*.log

# Quitar Config
*_config.php

#Composer
/vendor

#Archivos
uploads/productos/*
!uploads/productos/.gitkeep

uploads/archivos/*
!uploads/archivos/.gitkeep

uploads/editor/*
!uploads/editor/.gitkeep